@import 'partials/reset';
@import 'partials/base';
@import 'partials/copper';

body,html {
  height: 100%;
}

.header {
    height: 200px;
    background-color:$color__yellow;
  .logo {
  	font-family: $font__header;
  	font-size: 36px;
  	font-weight: 700;
  	color: $color__black;
  	line-height: 200px;
  	text-align: center;
  }
}

.section {
	padding: 7.5vw 0;
}

.white {
	background-color: $color__white;
	#hoverNotify {
		position: absolute;
		z-index: 10000;
		background-color: $color__yellow;
		border: 5px solid $color__black;
		border-radius: 10px;
		padding: 10px 20px;
		transform: rotate(-25deg);
		margin-top: 20px;
		margin-left: 0;
		span {
			font-size: 16px;
			font-family: $font__header;
			color: $color__black;
		}
	}
	.card {
		text-align: center;
		margin: 15px 0;
		&:nth-child(1) {
			margin-top: 0;
		}
		&:nth-child(3) {
			margin-bottom: 0;
		}
		img {
			border-radius: 10px;
			width: 50%;
			height: auto;
		}
	}
	.galleryImage {
		margin: 1vw 0;
	}
}

.green {
	background-color: $color__green;
	@include colorBase();
	h1 {
		font-size: 21px;
		margin-bottom: 20px;
		span {
			font-family: $font__header;
			font-size: 28px;
		}
	}
	h3 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 15px;
	}
	p {
		font-size: 16px;
		line-height: 20px;
		margin: 1em 0;
	}
	img {
		display: block;
		margin: 5vw auto 10px auto;
	}
	small {
		font-size: 14px;
		line-height: 16px;
		display: block;
		text-align: center;
	}
}

.red {
	background-color: $color__red;
	@include colorBase();
	.buyHeader {
		background-color: $color__green;
		border: 5px solid $color__black;
		border-radius: 10px;
		padding: 10px 0;
		text-align: center;
		margin-bottom: 3.5vw;
		h2 {
			color: $color__white;
			font-size: 24px;
			span {
				font-family: $font__header;
			}
		}
	}
	.buyOption {
		&:last-child {
			margin-top: 10vw;
		}
		h3 {
			font-size: 24px;
			border-bottom: 2px solid $color__black;
		}
		p {
			font-size: 16px;
			margin: 1em 0;
		}
		#kickstarter {
			text-align: center;
			margin-bottom: 5vw;
			div,img {
				width: 90%;
				height: auto;
				cursor: pointer;
			}
		}
		.share {
				background-color: $color__white;
				border: 5px solid $color__black;
				border-radius: 10px;
				text-align: center;
				padding: 10px 0;
				margin-bottom: 2vw;
				float: left;
				&:hover {
					background-color: $color__yellow;
				}
				a {
					color: $color__black;
					font-size: 18px;
					&:hover {
						text-decoration: none;
					}
				}
			}
		form {
			color: $color__black;
			font-family: $font__normal;
			margin-top: 25px;
			input, select, #card-element {
				color: $color__black;
				font-family: $font__normal;
				border: 2px solid $color__black;
				border-radius: 5px;
				background-color: $color__white;
			}
			#card-element {
				padding: 5px 0;
			}
			label {
				font-size: 18px;
				margin-bottom: 5px;
			}
			button[type='submit'] {
				background-color: $color__green;
				border: 2px solid $color__black;
				border-radius: 10px;
				font-size: 21px;
				padding: 5px 0;
				width: 100%;
				cursor: pointer;
				&:hover {
					background-color: $color__white;
				}
			}
		}
		.amount {
			label, input {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
			}
			input[type="radio"] {
				opacity: 0.011;
				z-index: 100;
			}
			input[type="radio"]:checked + label {
				background-color: $color__green;
				color: $color__white;
			}
			label {
				width: 50%;
			     cursor:pointer;
			     z-index:90;
			     background-color: $color__white;
			     height: 35px;
			     line-height: 30px;
			     border: 2px solid $color__black;
			     border-radius: 5px;
			}
			label:hover {
				background: $color__yellow;
			}
		}
		.buyButton {
			margin-top: 35px;
			span {
				font-size: 24px;
				font-weight: 700;
				line-height: 36px;
			}
		}
	}
}

#footer {
	padding: 20px 0;
	text-align: center;
	a {
		color: $color__black;
		font-size: 18px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
	.header {
		height: 300px;
		.logo {
			font-size: 80px;
			line-height: 300px;
		}
	}

	.white {
		#hoverNotify {
			margin-top: 0;
			span {
				font-size: 18px;
			}
		}
		.card {
			margin: 0;
			img {
				border-radius: 7px;
				width: 75%;
			}
		}
		.cardRow {
			padding: 0;
		}
	}
	.green {
		background-color: $color__green;
		color: $color__black;
		font-family: $font__normal;
		h1 {
			font-size: 36px;
			span {
				font-family: $font__header;
				font-size: 48px;
			}
		}
		h3 {
			font-size: 21px;
			line-height: 27px;
		}
		p {
			font-size: 18px;
			line-height: 22px;
		}
		small { 
			font-size: 15px;
			line-height: 18px;
		}
	}

	.red {
		.buyHeader {
			h2 {
				font-size: 36px;
			}
		}
		.buyOption {
			&:last-child {
				margin-top: 0;
			}
			h3 { 
				text-align: center;
				font-size: 32px; 
			}
			p {
				font-size: 18px;
			}
			.share {
				width: 45%;
				&:nth-child(even) {
					float: right;
				}
				&:last-child {
					float: left;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.header {
		height: 400px;
		.logo {
			font-size: 150px;
			line-height: 400px;
		}
	}

	.white {
		#hoverNotify {
			margin-top: -20px;
			margin-left: -30px;
			span {
				font-size: 32px;
			}
		}
		.card {
			img {
				border-radius: 15px;
			}
		}
	}
	.green {
		background-color: $color__green;
		color: $color__black;
		font-family: $font__normal;
		h1 {
			font-size: 48px;
			span {
				font-family: $font__header;
				font-size: 64px;
			}
		}
		h3 {
			font-size: 28px;
			line-height: 36px;
		}
		p {
			font-size: 21px;
			line-height: 27px;
		}
		small {
			font-size: 16px;
			line-height: 21px;
		}
	}
	.red {
		.buyHeader {
			h2 {
				font-size: 42px;
			}
		}
		.buyOption {
			h3 {
				font-size: 42px;
			}
			p {
				font-size: 21px;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 

}