/* FONTS */
$color__red: #DB4437;
$color__yellow: #ebd42f;
$color__green: #4fb848;
$color__white: #fafafa;
$color__black: #050505;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i');

$font__header: 'Cooper-Black';
$font__normal: 'Sanchez', serif;